<!-- Body -->
    <div class="row top-profile-head">
        <div class="col-4">
            <img src="images/Penguins.jpg" class="profile-pic-circle">
        </div>
        <div class="col-4 top-profile-name">
            <h2>{{name}}</h2>
            <label>{{job.designation}}</label>
        </div>
    </div>
    <div class="row top-mid-section">
        <div class="col-2">
            <h4>Posts</h4>
            <num class="badge badge-primary badge-pill">{{totalPost}}</num>
        </div>
        <div id="followers" class="col-2">
            <h4>Followers</h4>
            <num id="followers" class="badge badge-primary badge-pill">{{followers.length}}</num>
        </div>
        <div class="col-2">
            <h4>Following</h4>
            <num id="following" class="badge badge-primary badge-pill">{{following.length}}</num>
        </div>
        <div class="col-2">
            <button class="btn btn-info" type="button" id={{userEmail}}>
                {{#if check}}
                    Unfollow
                {{else}}
                    Follow
                {{/if}}   
            </button> 
        </div>
    </div>
    <div class="container mb-5">
        <div class="row mid-profile">
            <div class="col-3 mid-profile-nav">
                <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Personal</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Professional</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Projects</a>
                </div>
            </div>
            <div class="col-9">
                <!-- <div class="vl"></div> -->
                <div class="tab-content mid-profile-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active shadow" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row mx-auto">
                            <div class="col">
                                <h4>BIO <i class="fas fa-feather"></i></h4>
                                <label for="bio">{{summary}}</label>
                            </div>
                        </div>
                        <br>
                        <div class="row mx-auto">
                            <div class="col">
                                <h4>AGE <i class="fas fa-birthday-cake"></i></h4>
                                <label for="bio">{{age}}</label>
                            </div>
                            <div class="col">
                                <h4>E-MAIL <i class="fas fa-at"></i></h4>
                                <label for="bio">{{email}}</label>
                            </div>
                        </div>
                        <br>
                        <div class="row mx-auto">
                            <div class="col">
                                <h4>MOBILE <i class="fas fa-phone-square-alt"></i></h4>
                                <label for="bio">{{phone}}</label>
                            </div>
                            <div class="col">
                                <h4>LIVE @ <i class="fas fa-home"></i></h4>
                                <label for="bio">{{city}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade shadow" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row mx-auto">
                            <div class="col-5">
                                <h4>SKILL's <i class="fas fa-fist-raised"></i></h4>
                                <ul>
                                    {{#each skills}}
                                    <li><label for="skill">{{this}}</label></li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col-5">
                                <h4>JOB <i class="fas fa-briefcase"></i></h4>
                                <span>{{job.designation}}</span>
                                <small>{{job.workExperience}}</small><br>
                                <span><i>{{job.companyName}}</i></span>
                                <p>{{job.jobSummary}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade shadow" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="row mx-auto">
                            <div class="col-3">
                                <h4>TITLE <i class="fas fa-file-code"></i> :</h4>
                                <label for="title">Description :</label>
                           </div>
                           <div class="col-9">
                                <h4>{{project.projectTitle}}</h4>
                                <p for="description">{{project.projectSummary}}</p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>