<!-- Navigation bar -->

<div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-3 align-content-center" style="background-color: #9ad4d6 ;">
        <ul class="nav ml-2 mt-5 text-center">
          <li class="nav-item">
              <div class="mt-2 mt-2 mr-2 mb-2 ml-2">
                <img src="images/Penguins.jpg" class="rounded" alt="Image" width="100px" height="100px"> <br>
                <h4>{{data.firstname}} {{data.lastname}}</h4>
                <h6>{{data.email}}</h6>
                <h6><i>{{data.bioSummary}}</i></h6>
              </div>
          </li>
        </ul>
    </div>
    <div class="col-md-6">
        <main role="main" class="" style="background-color: #f2fdff ;">
        <h1 class="h2">Dashboard</h1><br>
        <div class="row text-center">
            <div class="col-md-3 ml-2 card bg-light">
                <div class="card-body">

                <h6>Followers</h6><br>
                <num id="followers">{{data.followers.length}}</num>
                </div>
            </div>
            <div class="col-md-3 ml-2 card bg-light">
                <div class="card-body">

                <h6 id="following">Following</h6><br>
                <num id="following">{{data.following.length}}</num>
                </div>
            </div>
            <div class="col-md-3 ml-5 mt-5">
                <button class="btn btn-info" type="button" id={{userEmail}}>
                {{#if check}}
                    Unfollow
                {{else}}
                    Follow
                {{/if}}   
                </button> 
            </div>
        </div>
        <hr>
        <div class="ml-4">
            <h4>Skills</h4>
            <div class="row">
                <ul>
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>         
        </div>
        <hr>
        <div class="row ml-2">
            <div class="col-md-4">
                <h4 style="float: left;">Work Experience</h4><br>
                <ul style="float: left;">
                    <li><b>{{data.jobs.designation}}</b></li>
                    <i>{{data.jobs.companyName}}</i>
                </ul>
            </div>
            <div class="col-md-4 ml-5">    
                <h4>Projects</h4>
                <ul>
                    <li><b>{{data.projects.projectTitle}}</b></li>
                    <i>{{data.projects.projectSummary}}</i>
                </ul>
            </div>
        </div>
        </main>
    </div>
    <div class="col-md-1"></div>
</div>